/*styles for BG image*/
.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Assets/BG.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: content-box;
}
/*text color for navbar*/
li {
  color: whitesmoke;
}
/*styles for h2 tag*/
h2 {
  margin-top: 8px;
  margin-bottom: 0px;
  background-color: #343a40;
  color: whitesmoke;
  padding-left: 15px;
}
/*Custom styles for the foot element*/
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 6px;
  height: 45px;
  border-top: whitesmoke;
  border-top-style: solid;
  border-width: 5px;
  color: whitesmoke;
  text-align: center;
}
/*Styles for the p,h3,h4 tags-index*/
p,
h3,
h4 {
  margin-bottom: 0px;
  background-color: #343a40;
  border: 3px;
  color: whitesmoke;
  line-height: 160%;
}
/*Custom style for the contact page*/
form {
  margin-bottom: 0px;
  background-color: #343a40;
  border: 3px;
  color: whitesmoke;
}
/*styles for the baner tags on the portfolio page*/
#banner {
  font-size: x-large;
  opacity: 75%;
}
#bannersm {
  font-size: small;
  font-style: italic;
  opacity: 75%;
}

/*place holder for custom JS*/
@media screen and (min-width: 640px) {
}
